.header {
	border-bottom: 1px solid rgb(58, 55, 55);
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color:white;
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 80px;
}

@media (max-width: 700px) {
	.header__wrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
}
