@import '../node_modules/normalize.css/normalize.css';

* {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', 'Arial', 'Helvetica', sans-serif;
    background-image: url("../public/assets/svg/background70.png");
}

.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    
    
}

.container {
    max-width: 1024px;
    padding-left: 16px;
    padding-right: 16px;
    width: 95%;
    margin: 0 auto;
    
    
}

.content {
    padding: 20px 0;
    
    
}
